#forecast-container{
	margin-top: 30px;
}

.form-buttons-container{
	height: 100%;
	padding-top: 10px;
}

.form-buttons-container .flex-fill{
	padding-bottom: 0 !important;
}

.alert.alert-danger{
	top: 101%;
	left: 15px;
	font-size: 90%;
	padding: 5px;
	z-index: 9;
}