<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-md-8 col-lg-4">
      <img class="img-fluid shadow-sm p-2 mb-5" src="../assets/header-image.png" />
    </div>
  </div>

	<div class="row">
    <div class="col-12">
      <a href="/" class="text-primary">Back to the Loader</a>
    </div>

    <div *ngIf="invoices && invoices.length > 0" id="invoices-list" class="col-12">
      <h3>Your Invoices</h3>
      <p>This is the list of your stored invoices.</p>
      
      <table class="table table-reflow table-bordered table-hover table-sm col-12">
        <thead class="thead-light">
          <tr>
            <th class="col-6 col-md-3">Invoice Number</th>
            <th class="col-6 col-md-2">Net</th>
            <th class="col-6 col-md-2">% Tax</th>
            <th class="col-md-2">Total</th>            
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let invoice of invoices">
            <td scope="row"> {{invoice.id | customNumber:6}} </td>
            <td>{{invoice.net| currency | customDecimal}}</td>
            <td>{{invoice.tax | percent:'1.2'}}</td>
            <td>{{invoice.total | currency | customDecimal}}</td>            
          </tr>       
        </tbody>
      </table>
            
      <div class="row">
        <div class="col-12 col-md-4">            
          <strong>Total Net</strong>: {{totalNet | currency| customDecimal}}
        </div>
        <div class="col-12 col-md-4">            
          <strong>Total Taxes</strong>: {{totalTaxes | currency | customDecimal}}
        </div>
        <div class="col-12 col-md-4">            
          <strong>Total Global</strong>: {{totalGlobal | currency |customDecimal}}
        </div>          
      </div>
      
      <div class="row">
        <div class="col-12 text-right" id="delete-all-container">
          <button class="btn btn-danger" type="button" data-toggle="modal" (click)="showModal=true" >
            Delete Work
          </button>
        </div>
      </div>      

    </div>

    <div *ngIf="invoices && invoices.length === 0" class="col-12">
      <h2>Invoices stored.</h2>
      <div class="alert alert-info">There are not invoices stored. <a href="/" class="alert-link">Go to the invoice loader</a>.</div>
    </div>

  </div>
</div>

<div class="modal fade" [ngClass]="{'show': showModal === true}" tabindex="-1" role="dialog" aria-labelledby="modalDelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Confirm delete all your work?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" 
        (click)="showModal=false">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteAll()">Delete</button>
      </div>
    </div>
  </div>
</div>