<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-md-8 col-lg-4">
      <img class="img-fluid shadow-sm p-2 mb-5" src="../assets/header-image.png" />
    </div>
  </div>

  <form class="form-row" [formGroup]="formInvoice" (ngSubmit)="onSubmit()">
    
      <div class="col-12 col-lg-10">
        <div class="row">

          <div class="col-12 col-lg-3">            

            <div class="form-group row">
              <label class="col-5 col-lg-12 col-form-label col-form-label-sm">Invoice Number</label>
              <div class="col-7 col-lg-12">
                <input class="form-control" formControlName="id" required placeholder="Invoice Number" />

                 <div *ngIf="((formSubmitted === true && id.invalid) || (!id.pristine && id.invalid))" 
                class="alert alert-danger position-absolute">

                  <div *ngIf="id.errors.required">This value is required</div>
                  <div *ngIf="id.errors.pattern || id.errors.min">Enter a valid number</div>                  
                  <div *ngIf="id.errors.numberInvalid">Number already exists</div>
                </div>

              </div>             
          </div>
         
          </div>

          <div class="col-12 col-lg-3">
            <div class="form-group row">
              <label class="col-5 col-lg-12 col-form-label col-form-label-sm">Net</label>
              <div class="col-7 col-lg-12">
                <input class="form-control" type="number" formControlName="net" placeholder="$" required />
                <div *ngIf="((formSubmitted === true && net.invalid) || (!net.pristine && net.invalid))"  
                class="alert alert-danger position-absolute">

                  <div *ngIf="net.errors.required">This value is required</div>
                  <div *ngIf="net.errors.min">Enter a number grather than 0</div>   

                </div>
              </div>              
            </div>
          </div>

          <div class="col-12 col-lg-3">
            <div class="form-group row">
              <label class="col-5 col-lg-12 col-form-label col-form-label-sm" for="ship">% Tax</label> 
              <div class="col-7 col-lg-12">
                <select class="form-control" formControlName="tax" >
                  <option *ngFor="let itemTax of taxes" [value]="itemTax">{{ itemTax | percent:'1.2' }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-3">
            <div class="form-group row">
              <label class="col-5 col-lg-12 col-form-label col-form-label-sm">Total</label>
              <div class="col-7 col-lg-12">
                <input class="form-control" formControlName="total" placeholder="$" />
              </div>
            </div>
          </div>

        </div>
      </div>
      
      <div class="col-12 col-lg-2">        
        <div class="d-flex align-items-center justify-content-between form-buttons-container">  
          <div class="flex-fill">
            <button class="col-12 btn btn-outline-success btn-block" type="submit">Add</button>            
          </div>
          <div class="flex-fill">
            <button class="col-12 btn btn-outline-danger btn-block" type="button" (click)="clear()">Clear</button>
          </div>
        </div>
      </div>
    
  </form>
    

  <div class="row">
    <div *ngIf="invoices && invoices.length > 0" id="invoices-list" class="col-12">
      <h3>Your Invoices</h3>
      <p>This is the list of your stored invoices.</p>

      <table class="table table-reflow table-bordered table-hover table-sm">
        <thead class="thead-light d-none d-md-block">
          <tr class="row">
            <th class="col-md-3">Invoice Number</th>
            <th class="col-md-2">Net</th>
            <th class="col-md-2">% Tax</th>
            <th class="col-md-3">Total</th>            
            <th class="col"></th>
          </tr>
        </thead>

        <tbody>
          <tr class="row" *ngFor="let invoice of invoices">
            <td class="d-md-none col-6 table-app-sm">Invoice Number</td>
            <td class="col-6 col-md-3" scope="row"> {{invoice.id | customNumber:6}} </td> 
            <td class="d-md-none col-6 table-app-sm">Net</td>
            <td class="col-6 col-md-2">{{invoice.net | currency | customDecimal}}</td>
            <td class="d-md-none col-6 table-app-sm">%Tax</td>
            <td class="col-6 col-md-2">{{invoice.tax | percent:'1.2'}}</td>
            <td class="d-md-none col-6 table-app-sm">Total</td>
            <td class="col-6 col-md-3">{{invoice.total | currency | customDecimal}}</td>
            <td class="col">
              <button class="btn btn-danger btn-sm btn-block" (click)="selectForDelete(invoice.id)">Remove</button>              
            </td>
        </tr>       
        </tbody>

      </table>
      <div class="row d-flex justify-content-end">
        <div class="col-12 col-lg-3">
          <a class="btn btn-primary btn-block" href="resume" (click)="invoiceService.saveInvoices()">
            Process And Continue
          </a> 
        </div>
      </div>
      
    </div>

    <div *ngIf="invoices && invoices.length === 0" class="col-12">
      <div class="alert alert-info">There are not invoices stored.</div>
    </div>

    <div *ngIf="forecast" class="col-12" id="forecast-container">
      <div class="row rounded bg-secondary text-white">
        <h5 class="col-12">Forecast</h5>
        <p class="col-12">{{forecast.Headline.Text}}.</p>

        <div class="col-12">
          <div class="row">
            <div *ngFor="let day of forecast.DailyForecasts; let i = index" [ngClass]="{'d-none': i === 0}"
            class="flex-fill col-12 col-sm-6 col-lg-3 forecast-item">
              <h6>{{day.Date | date:'EEEE, MMMM d'}}</h6>
              <p>{{day.Day.IconPhrase}}. <span *ngIf="day.Day.HasPrecipitation === true">Precipitations.</span></p>
              
              <div class="d-flex justify-content-start">
                <div class="flex-fill">
                  Min: {{day.Temperature.Minimum.Value}} °{{day.Temperature.Minimum.Unit}}
                </div>
                <div class="flex-fill">
                  Max: {{day.Temperature.Maximum.Value}} °{{day.Temperature.Maximum.Unit}}
                </div>  
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>



<div class="modal fade" [ngClass]="{'show': showModal === true}" tabindex="-1" role="dialog" aria-labelledby="modalDelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Confirm delete the invoice number {{selectedId}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" 
        (click)="showModal=false">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="remove(selectedId)">Delete</button>
      </div>
    </div>
  </div>
</div>